[2020-06-08 22:14] guiananias opened #1 "Help me with a question, please!"
Hey! I'm using ~~(and loving)~~ your lib but I have two questions and I don't find any answer for this.

- Is there a way to remove *border-radius* of the track? I'm saying about the "circle" next to the thumb.
- Is there a way to add a minimum threshold value? I'm saying about always keeping a percentage *x* of the track always filled?

[2020-06-09 06:52] Sharcoux commented on #1
Hi,
Thanks for your remark.
Can you update to v3.3.0 ?
I fixed the border-radius thing. Tell me if it seems ok to you.
About the threshold, I won't implement this, but there are a few solutions :

1) I added a trackStyle prop in v3.3, you could completely hide the track, and draw your own track below the slider which would be wider than the slider. Like if you want values between 10% and 90%, you

[2020-06-09 12:32] guiananias commented on #1
Yeah! It's work! Thank you bro. You are the best!

I'm gonna up a PR to help you with this lib, i'm in loving with her. It's amazing.

Thank you very much!

[2020-06-09 18:00] #1 closed

[2020-06-10 09:23] Sharcoux commented on #1
@guiananias the thumb might be a bit too big so I made a fix for that in 3.3.1 to respect the thumbSize being provided.

[2020-06-10 10:46] guiananias commented on #1
@Sharcoux yeah, I agree with you.

Another thing I would like to comment on is that there are still some performance issues, but nothing that interferes with the use.

[2020-06-10 11:35] Sharcoux commented on #1
Oh really? Can you give me more details? I might need to look into it.

[2020-06-13 14:00] andyrobert3 opened #2 "Invariant Violation: Native module cannot be null"
First installed the library and using it prompts an error

![image](https://user-images.githubusercontent.com/15076300/84570612-250b1c80-adc1-11ea-903b-2a2ac4d57aa4.png)

Steps taken:
1. Deleted node_modules & yarn install
2. pod deintegrate & pod install

Error still appears

[2020-06-13 15:07] Sharcoux commented on #2
You should probably check on this side: https://github.com/react-native-community/push-notification-ios/issues/43

[2020-06-17 12:14] moriyuu opened #3 "Invariant Violation: Tried to register two views with the same name ARTSurfaceView"
![image](https://user-images.githubusercontent.com/20125542/84892780-27c78380-b0d9-11ea-9770-a7d2c7ba3aa1.png)

Error occurred at ios simulator. But no error with react-native-web.

react: 16.9.0
react-native: 0.61.4
@sharcoux/slider: ^3.3.1

[2020-06-17 13:19] Sharcoux commented on #3
I hardy believe that this is linked with this slider. The slider is just using the basic View component.

[2020-08-01 15:26] #2 closed

[2020-08-01 15:26] #3 closed

[2020-08-01 22:26] Sharcoux commented on #1
Hi @guiananias , could you check the version 4.0.0?
Please try the AnimatedSlider (see the [Readme](https://github.com/Sharcoux/slider/blob/master/README.md)), maybe it can improve the performances.

[2020-08-01 22:30] guiananias commented on #1
Hey @Sharcoux! How are you?

I will try that version! Thanks for letting me know about it!

[2020-08-17 17:01] sanghavan opened #4 "Got error "Error: style property 'flexGrow' is not supported by native animated module" with AnimatedRangeSlider"
I tried on AnimatedRangeSlider with the example code on README.md. I got below error

[code]

![image](https://user-images.githubusercontent.com/6092132/90422918-c24a4000-e0e5-11ea-8022-c631f6fbe44c.png)

[2020-08-17 17:16] Sharcoux commented on #4
Ok. This means that we will have to stick to the default implementation for now. Did you have any issue with the non animated slider?
I will see if we can do something about flexGrow in the animated api.

[2020-08-17 17:24] Sharcoux commented on #4
Well... [Thank you Facebook...](https://github.com/facebook/react-native/pull/27506)

I will see if there is a way around that or if we have to wait for react native to provide a new api for this kind of stuff...

[2020-08-18 01:49] sanghavan commented on #4
Thank you!

For non animated slider, I didn't face the error yet, I'm still in customizing it. I will raise the issue if there is any.

[2020-11-24 05:42] johnlim5847 opened #5 "Step props is not working"
Hi, I tried to pass in 10 as the `step` but the value is still increased by 1 instead of 10.

[2020-11-24 11:50] Sharcoux commented on #5
I'll check that. Thanks for the remark. Can you provide the full configuration of the slider?

[2020-11-24 12:49] Sharcoux commented on #5
@johnlim5847 Indeed. I'm fixing it right now. Thanks for the feedback. It will be live in a few minutes.

[2020-11-24 13:12] Sharcoux commented on #5
Fixed in version 4.0.5
Feel free to reopen if you still have an issue.

[2020-11-24 13:12] #5 closed

[2020-11-24 13:27] johnlim5847 commented on #5
wow, that was fast @Sharcoux ! thanks for the quick response and hard work, much appreciated! :)

[2020-11-27 15:45] johnlim5847 opened #6 "Feature Request: Props to disabled tap to slide"
Hi, is it possible to have an option to disable tap the slider to change value? meaning the user has to drag the slider to change the value and not tap anywhere in the slider track to change the value.

[2020-11-27 16:58] Sharcoux commented on #6
That's a good idea to make it a props. I hesitated a long time about the behavior it should have towards it. I'll make an update. Thanks for the idea.

[2020-11-28 06:35] Sharcoux commented on #6
Can you check the new version 5.0.0 ?
Tell me if it suits your need and don't hesitate to open an issue if you encounter any issue with that new version.

[2020-11-28 06:35] #6 closed

[2020-11-28 06:56] johnlim5847 commented on #6
Hey, @Sharcoux thanks for getting back so quickly. I noticed there's a debug console.log at https://github.com/Sharcoux/slider/blob/master/src/hooks/useDrag.ts#L21

and is it intended not to call `onSlidingStart ` and `onSlidingComplete` when `slideToTap` is `false`? because in my use case I increased the size of `thumbSize` when the user is sliding and back to default size when the user finished

[2020-11-28 07:00] Sharcoux commented on #4
@sanghavan The new version (5.0.1) should bring better performances to the default API, making the Animated API pointless. I'll close this. Please raise an issue if you encounter a problem.

[2020-11-28 07:00] #4 closed

[2020-11-28 07:03] Sharcoux commented on #1
@guiananias Version 5.0.1 should be fixing a bunch of performance issues. Don't hesitate to tell me if you still encounter FPS drop.

[2020-11-28 07:09] guiananias commented on #1
Wow!! This is really good.
We currently maintain the version of the package in v4.0.4, in a static way. I will talk to the team to update.

Any problem, I will report here.

[2020-11-28 10:22] Sharcoux commented on #6
There was a missing dependency causing those issues. Should be fixed in 5.0.2
Tell me if it's not ok

[2020-12-02 04:34] TowhidKashem opened #7 "[iOS] The slide handle isn't easily picked up when you attempt to slide it"
Thanks for the lib! I was very excited about it since the community slider didn't allow thumb size to be changed, everything in this lib looked good while setting it up in the simulator but when I tried to use it on a real device (iPhone 11 IOS 14) it was hard to scroll the slider. It wasn't always picked up when you tried to move it with the fingers, it look a couple tries at times to move it. Un

[2020-12-02 06:20] Sharcoux commented on #7
That's annoying indeed. Unfortunately, I don't have an iPhone to try and fix this. Also, if it works on the emulator, the issue might possibly not come from the lib. Do you think that you could check what part exactly is not being triggered? You will find that part in the ResponderView.
Could it be that the pointerEvent =none on the thumb is being ignored? Is it working better when sliding directl

[2020-12-03 13:09] BATTLEROYALXS commented on #7
Hello, thank for your repo, i see this problem too for my part

[2020-12-03 13:41] Sharcoux commented on #7
@BATTLEROYALXS Could you make the same test I asked @TowhidKashem ? That would be helpful to solve the problem as I don't have an device form apple to try this out.

[2020-12-17 09:34] kacperkapusciak opened #8 "Package on npm has console.logs"
Thank you very much for this library - it has all the functionalities that I need. One issue is that the version (5.0.1) on npm has console.logs in the code.
![image](https://user-images.githubusercontent.com/39658211/102467737-ef394000-4050-11eb-84ed-25a62d9ec986.png)
I've double-checked your code and you removed them in the code on GitHub. I've tried also to pull package directly from GitHub but

[2020-12-17 09:36] BIGbadEL commented on #8
That would be very useful.

[2020-12-18 14:17] kacperkapusciak commented on #8
To people who are reading it in the future: you don't have to wait for maintainers to fix their library. You can patch node_modules directly with [patch-package](https://github.com/ds300/patch-package). I've applied [this fixes](https://github.com/Sharcoux/slider/commit/292ff5066f3a73b8766b54974b1492fb0df5471e) in useDrag.**js** and useThumb.**js**  in node_modules and works great.

[2020-12-21 13:45] Sharcoux commented on #7
@TowhidKashem can you explain why you closed the issue? How did you solve it?

[2020-12-21 13:47] Sharcoux commented on #8
Oh my, sorry for that. I'm in holydays right now but let me fix that as soon as I get back to my computer.

[2020-12-22 04:15] TowhidKashem commented on #7
Hey,

I didn't solve it, just went back to using this one:

https://github.com/callstack/react-native-slider

which doesn't have the issue. For what it's worth I also tried to use this lib:

https://github.com/jeanregisser/react-native-slider

which also had the same issue as yours. The only one that didn't was the community slider.

I re-opened the issue if that helps but I'm bowing out of the th

[2021-01-06 22:20] avlonder opened #9 "no thumbs on Android device"
Hi @Sharcoux,

I experimented some more and found that, if I pick trackHeight > thumbSize, the circular shape of the thumb becomes clearly visible. It seems like some zIndex problem: the thumb is not an overlay with respect to the track.

The performance issue I was talking about [here](https://github.com/callstack/react-native-slider/issues/172#issuecomment-755726445), was caused by the thumb and

[2021-01-06 22:39] avlonder opened #10 "Typo in docs"
[code]
should be
[code]

[2021-01-07 12:36] Sharcoux commented on #8
Version 5.0.3 resolves the issue.

[2021-01-07 12:36] #8 closed

[2021-01-07 12:36] Sharcoux commented on #10
Version 5.0.3 resolves the issue. Thanks for noticing

[2021-01-07 12:36] #10 closed

[2021-01-07 13:05] Sharcoux commented on #9
@avlonder Thanks for the feedback!

Can you provide me the exact parameters you are using so that I can replicate the issues? I should be able to provide a solution quickly.

[2021-01-07 16:36] avlonder commented on #9
I upgraded to 5.0.3 and for some reason it works exactly as expected. Now, I can just increase the thumbs without having to increase the track, such that both problems are resolved at once. Sorry for the inconvenience. Earlier, I must have installed an older version or something. I cannot replicate the original problem stated above. So, I'm closing the issue.

[2021-01-07 16:36] #9 closed

[2021-01-07 17:27] Sharcoux commented on #7
@TowhidKashem @BATTLEROYALXS  For some reasons the ultimate version might have solved the issue you encountered. Could you try to see if you can replicate the issue with version 5.0.3?

Thanks!

[2021-02-21 11:53] inhyuk-jung commented on #7
@TowhidKashem @BATTLEROYALXS I got trick to solve this issue.

[code]

You should focus ` trackStyle={{marginTop: 9, marginBottom: 9}}  `.

[2021-02-21 13:58] Sharcoux commented on #7
Ah, their problem was the touch area you think? Maybe I should give it a minimum size then? Did you notice the same issue they reported?

[2021-03-05 08:36] avlonder opened #11 "Feature request for range slider: disable crossing"
Hi,
I think the UX for the range slider could be improved significantly by using a prop that disables crossing:
in one swipe movement, you should stick to the thumb you grabbed first. This means that if you swipe the left thumb to a point beyond the right thumb, it stops at the location of the right thumb and nothing else happens to the right thumb.

[2021-03-05 10:41] Sharcoux commented on #11
Ah, yes, indeed. I think that I could make them stop just one step before meeting, what do you think?
So, if for a range of [0, 10] I have a right thumb at 6, the left thumb could go only from 0 to 5.
I'll add an `allowCrossing` props defaulting to false.

It should be quick.

[2021-03-06 20:54] Sharcoux commented on #11
Please try @sharcoux/slider@5.1.0 and report in case of issue

[2021-03-06 20:59] #11 closed

[2021-03-08 11:44] Sharcoux commented on #7
Actually, adding a margin to the slider itself can also solve the issue. I don't think that we should decide for the user about which margin should be set and where. I will close this.

[2021-03-08 11:44] #7 closed

[2021-03-11 09:50] avlonder opened #12 "Difficult to grab thumb on Android device"
Hi

On my Motorola E6 Plus, it's extremely diffiicult to grab the thumb in both Slider and RangeSlider.
I tried crossingAllowed={false} (thanks for that, btw!) and slideOnTap={false}, and I tried to increase the thumb size, add additional margin, etc but this doesn't yield any improvement. I think something is wrong with the touchable area of the thumbs...

[2021-03-11 13:45] Sharcoux commented on #12
Try this: `<Slider style={{ margin: 15 }} />`
The responder view is not the thumb or the track, but the slider itself.

[2021-03-11 13:49] Sharcoux commented on #12
If this solves your issue, I will add a default style that includes this margin

[2021-03-11 19:04] avlonder commented on #12
Hmm. Like I said: changing margins doesn't help, sorry. At least not on my device. But any way, maybe, if it's not a lot of work, you could add some animated response to the thumbs when selecting them (e.g. the Android native ripple and/or ios opacity change). Because I even don't know if it is caused by not being able to select the thumbs are not being able to move them. Often, I can move them on

[2021-03-11 19:59] Sharcoux commented on #12
Interesting... I need to check what happens to the responder view. Do you have the issue with the snack I provided? I'll try it on my phone this week-end. I'm sure i can fix this.

[2021-03-11 20:07] avlonder commented on #12
Ow! Of course! I know the cause: my sliders are inside a vertical scrollview. This probably is a hard one to solve :/

[2021-03-11 20:08] avlonder commented on #12
And yes, the snack example works

[2021-03-12 01:34] Sharcoux commented on #12
I received some messages, but you seem to have deleted them.
So, what is the current situation? Is there still an issue?

[2021-03-12 09:41] avlonder commented on #12
For a brief moment, I was convinced that it was caused by the ScrollView container, but clearly it isn't. The minimal example with one slider and margin works. I've been trying to figure out what's breaking my screen with multiple sliders by gradually adding props and more sliders to the screen, but I can't figure it out (yet). Since your sliders don't use a native Android/iOS implementation I sta

[2021-03-12 12:13] avlonder commented on #12
Omg. Instead of adding vertical margin, I had to add vertical padding and now it works!

[2021-03-12 12:18] avlonder commented on #12
If you don't mind, could you add touch feedback similar to the callstack slider? So, for example, if you tap the thumb, the thumb's size increases. That would be great

[2021-03-12 13:23] Sharcoux commented on #12
This could be achieved by making the thumbSize responding to the `onSlidingStart` and `onSlidingComplete` props.

So, `<Slider style={{ paddingTop: 10, paddingBottom: 10 }} />` solved the issue? Can you show the code that exactly solved the issue?

[2021-03-12 13:43] avlonder commented on #12
Oh yes, great.

Yeah, simply add style={{ paddingVertical: 10 }} to the slider

[2021-03-13 13:50] avlonder commented on #12
For the range slider, I cannot change the size of a single thumb. So maybe, the Android-like UX could be something you could still add.

[2021-03-13 13:50] #12 closed

[2021-05-13 13:16] xam7247 opened #13 "minimumTrack and maximumTrack should use separate track styles"
@Sharcoux: Firstly, great lib :+1: :)

I am trying to make a slider, but without showing the thumb at all . I could only achieve it by styling both track and thumb with `borderRadius: 0`, but then I lose the nice rounded edges of track
<img width="288" alt="Screen Shot 2021-05-13 at 6 22 59 PM" src="https://user-images.githubusercontent.com/5365467/118129680-1f2b1a80-b41a-11eb-9e00-5bac0cacdaa8.pn

[2021-05-13 13:42] Sharcoux commented on #13
I see. Let me give it a try. Can you just provide me a draft of what you want to achieve exactly to make sure that I understood correctly?

[2021-05-13 13:59] Sharcoux commented on #13
Actually, just give a try at version 5.2.2

[2021-05-13 21:19] xam7247 commented on #13
Thanks for the prompt reply @Sharcoux. What I am looking for is to have a slider, without the thumb displayed, and the track having left and right border radius (similar to 1st image I posted, but with left border radius on track).

I'll try 5.2.2 and let you know.

[2021-05-19 09:54] avlonder opened #14 "Feature request: crossing thumbs should move both thumbs in parallel"
Apart from the crossing allowed prop, is it also possible to add a prop that defines the minimum distance between the two thumbs and if you drag the left thumb beyond the right one, both of them are moving in parallel?

[2021-05-19 10:23] Sharcoux commented on #14
Would you be OK to try a PR achieving this? I won't be able to work on this before 2 weeks I think, but it should not be so hard.

[2021-05-20 08:09] Sharcoux commented on #13
Ok, try version 5.3.0. I added:

[code]

[2021-05-24 12:29] xam7247 commented on #13
@Sharcoux Thanks a bunch, works perfectly now :D. 👍
I achieved my desired styling with:
  thumbStyle: {
    borderRadius: 4,
    height: 4,
    width: 8
  },
  minTrackStyle:{
    borderRadius: 0,
    borderBottomLeftRadius: 4,
    borderTopLeftRadius: 4
  },
  maxTrackStyle: {
    borderRadius: 0,
    borderTopRightRadius: 4,
    borderBottomRightRadius: 4
  },

[2021-05-24 12:32] #13 closed

[2021-05-25 13:49] MarcHbb opened #15 "Slider lose focus"
Hi !
When drag the slider and my finger is dragging from outside the slider bar, it's not working :/

[2021-05-25 14:38] Sharcoux commented on #15
Hi
I'm not sure to understand what you mean. Could you maybe show a gif that would explain better?

[2021-06-08 22:49] justsee commented on #15
If you embed your slider in a ScrollView with enough content to scroll, you should immediately see the issue.

After sliding the thumb of the slider, as soon as a portion of your finger goes out of bounds it triggers horizontal scrolling and the slider loses focus.

[2021-06-16 09:35] thamtran1912 opened #16 "please support thumbImage to change thumb with custom image"

[2021-06-17 12:15] Sharcoux commented on #15
I tried something, but it seems that we are caught in this bug: https://github.com/facebook/react-native/issues/5696
I'm affraid that there is not much I can do on my side. You will have to set scrollEnabled={false} while the silder is being used. You can use `onSlidingStart` and `onSlidingComplete` to handle that.

@MarcHbb @justsee would this solve your issue?

[2021-06-17 16:55] Sharcoux commented on #16
@thamtran1912  can you check out this pre-release and tell me if it works as intended? @sharcoux/slider@5.4.0-1

[2021-06-18 09:01] gruckionvit opened #17 "Can you library do this?"
Hi,

Cheers for making this, I need to create;

- a large slider with the ability to store the current focused value within the slider.
- Number scale along the top
- Icons along the bottom (that are in line with the number scale across the top, e.g. 0 on top icon-1 on bottom, 1 on top icon-2 on bottom.

<img width="515" alt="Screenshot 2021-06-18 at 10 00 04" src="https://user-images.githubuserco

[2021-06-18 10:03] Sharcoux commented on #17
You can achieve this by using this slider for the functional part, for drawing the rail and for drawing the plot.

For the numbers and the rest of your design, you'd probably better draw it behind the slider. Use the current value to update your component as desired.

Another option might be to create a component from scratch though.

[2021-06-19 07:03] gruckionvit commented on #17
What about the extra large circle to hold the number? Any recommendations on how I can get the slider to look like that or if I'm being done externally how I can sync it's position with the main sliders position? (i'm guessing this will cause the UI to be choppy)

[2021-07-06 18:50] Sharcoux commented on #17
I forgot about you, sorry ^^

Well, I'd say that you have a few options:

1. Get your designer fired, and hire someone less creative
2. Reduce your expectations or those of your client
3. Clone this lib and update the view so that it does what you expect it to do. You will see that the view is very basic, and you can probably update it to your needs.

See you mate

[2021-07-06 18:51] Sharcoux commented on #16
I'll consider that it does. If someone is having a problem, fill free to open a new issue.

[2021-07-06 18:51] #16 closed

[2021-07-06 18:53] Sharcoux commented on #15
I won't fix this internally due to [this bug](facebook/react-native#5696), and the solution is to make use of `scrollEnable` in conjunction with `onSlidingXXX` events. Feel free to reopen if needed.

[2021-07-06 18:53] #15 closed

[2021-07-09 17:46] moyolvera opened #18 "[Android only] Value jumping to zero if user tries to slide up to the max value"
I don't know if its a missconfiguration or if i'm doing something wrong. But on android if the user slides the thumb all the way to the maximum this goes back to the beginning.

`           <Slider
                  style={styles.slider}
                  thumbTintColor={APP_COLORS.GRAY2_LIGHT}
                  minimumValue={0}
                  maximumValue={20}
                  value={10}

[2021-07-09 17:57] Sharcoux commented on #18
I'll check that. Thanks for report.

Did you try on web and iOS? Is it truly Android only or is it just because you tested only there?

[2021-07-09 17:59] moyolvera commented on #18
I didn’t tried on web, i tried iOS simulator, android device and android simulator, and it's only happening on android

[2021-07-09 19:32] Sharcoux commented on #18
On web it's working as expected. It seems more like a bug with Android implementation of React Native... I'll need to investigate more.

Just to be sure that the behavior is the same: check [this snack](https://snack.expo.io/@sharcoux/slider)

Here, you will see that, as long as you are touching the track, the behavior is correct, but as soon as your finger goes below or above it, the touch event

[2021-07-09 19:37] Sharcoux commented on #18
Ah, and please add a thumb up on [this issue](https://github.com/facebook/react-native/issues/31843) as it might increase the chances of it being considered.

[2021-07-09 20:10] moyolvera commented on #18
Wow, thanks for all the info. I'll take a look on those versions you mentioned above. For now I'm going to go ahead and use the community/slider so I can continue working but I'll keep an eye on those issues. Thanks for all your work man

[2021-07-09 21:35] Sharcoux commented on #18
Actually, you can also work around this issue by adding a vertical padding to the slider (if it is horizontal).

[2021-07-10 08:47] Sharcoux commented on #18
By the way, it's not the community slider. It's just callstack slider and the community has nothing to do with it. That's why the support is so poor. ;)

[2021-08-05 14:27] osilviotti opened #20 "Division by zero error"
We're seeing division by zero errors when the minimum and maximum values are the same as there's logic in the library like the following:

`(value - minimumValue) / (maximumValue - minimumValue)`

It's happening for us as we're relying on data from an API and so we're having to force the maximumValue to be at least 1 to avoid red boxes in React Native as `NaN` is getting passed over the bridge.

I

[2021-08-05 14:32] Sharcoux commented on #20
Hi!

Didn't thought of that. Let me fix it, I need 2 minutes.

[2021-08-05 14:43] Sharcoux commented on #20
Try the version 5.4.2 released just now.

Just a thought though : you should probably reconsider what it means to have maximumValue = minimumValue, and especially what is the correct representation of this for the user. I seriously doubt that the Slider is a good representation of that case, and you should probably hide it and show something else when that case happens.

[2021-08-05 14:47] osilviotti commented on #20
Oh wow, didn't expect a fix + release that quickly, I'd only just gone done making a coffee and forking the repo. Thanks!

In our use case, the slider is being used to display the progress of an audio file and sometimes we're getting audio files with a duration of 0 through. It's not really a great use case, but we're happy showing a slider that doesn't make sense in those rare occurrences we just

[2021-08-05 15:11] osilviotti commented on #20
Just looking at the code for the fix, I think it's going to have unexpected behaviour. `x / 1` is `x`, not a percentage. I would've done something like this:

[code]

(or you could swap to `divisor === 0 ? 1` if you want it to fill by default)

For example, with the current code if min and max are passed in as 10 and value is passed in as 5 (which _shouldn't_ happen but `value` is controlled exter

[2021-08-05 16:19] Sharcoux commented on #20
The value is always rounded back to within the range [minValue, maxValue], so the result will always be 0 anyway

[2021-08-05 16:20] Sharcoux commented on #20
Solved by [https://github.com/Sharcoux/slider/commit/5d31dff3fb4a6719a2eb7419ccff5cce3a34d967](https://github.com/Sharcoux/slider/commit/5d31dff3fb4a6719a2eb7419ccff5cce3a34d967)

[2021-08-05 16:20] #20 closed

[2021-08-12 16:04] rogorman9 opened #21 "Fails to compile on web"
When I try to use this slider on web I get the following error:
[code]

Looks to me like somehow some TypeScript code made it into a .js file and webpack is getting confused,

[2021-08-12 16:13] Sharcoux commented on #21
Indeed! Let me check that

[2021-08-12 16:24] Sharcoux commented on #21
@rogorman9 can you confirm that you are using the version 5.4.3 ?

[2021-08-12 16:43] rogorman9 commented on #21
@Sharcoux I'm on 5.4.2. Can't seem to get 5.4.3, tried both `npm install @sharcoux/slider@latest` and `npm install @sharcoux/slider@5.4.3` (the latter gave me the error `No matching version found for @sharcoux/slider@5.4.3.`)

[2021-08-12 16:44] Sharcoux commented on #21
Indeed, it seems that the publish has failed... My bad. Thanks for reporting the issue.

[2021-08-12 16:46] #17 closed

[2021-09-27 11:16] ahmad6242 commented on #5
Hello,
step is not working in RangeSlider!

[2021-09-27 11:18] Sharcoux commented on #5
Really? Let me check that

[2021-09-27 11:18] Sharcoux commented on #5
Can you provide the config that you have been using?

[2021-09-27 11:23] Sharcoux commented on #5
@ahmad6242 Check the file index.tsx in the root of `node_modules/@sharcoux/slider`. You will see an example of RangeSlider using steps. If you check the gif that is shown in the readme, you will see that it's working as expected.

I'll need your configuration to be able to investigate further.

[2021-09-27 11:52] ahmad6242 commented on #5
I am using  "@sharcoux/slider": "^5.4.3",
[code]

[2021-09-27 11:55] Sharcoux commented on #5
Can you check the value of `this.state.videoData.duration`?

[2021-09-27 11:57] ahmad6242 commented on #5
duration: 13.013 @Sharcoux

[2021-09-27 12:03] Sharcoux commented on #5
First thing, you should probably:
1) Remove enabled={false} which totally disable the response to touches
2) Remove slideOnTap={false} to make it response to touches even when slightly aside from the thumb

[2021-09-27 12:06] ahmad6242 commented on #5
Sorry, i was having these just for some other test.
Both properties are removed and still its the same.

[2021-09-27 12:09] Sharcoux commented on #5
Indeed, when the min or max values don't match the precision of the step, the calculation is wrong. I'll fix that.

I'll try to increase the size of the responding area when `slideOnTap` is false.

But when slideOnTap is unset or true, I didn't notice anything about the slider not responding. Is this still happening?

Anyway, the fix should be out in an hour top

[2021-09-27 12:14] ahmad6242 commented on #5
yes its not responding very well.
And i set slideOnTap=false because when i try to move the End Cursor it moves the Start cursor to the end frequently.
I think the not responding thing is because of the step. When this will be corrected the response will be automatically corrected.
Many Thanks for your help.

![image](https://user-images.githubusercontent.com/12858657/134905431-212e347c-a847-4d2e-

[2021-09-27 12:18] ahmad6242 commented on #5
And ,
How can i change the Selected range value through a Method!
Is that possible?
Because there is nothing in the documentation about that.

[2021-09-27 12:32] Sharcoux commented on #5
Ok, You can try the version 5.5.0

About your last question, I'm not sure about what you are trying to achieve. If you want to change the current range value, just change the value provided in the `range` prop.

If you want this to be done with a method, just use imperative handles:

[code]

[2021-09-27 12:38] ahmad6242 commented on #5
Okey Thanks.

[2021-09-27 12:47] ahmad6242 commented on #5
What i am trying to achieve is that, when I click these buttons. It will forward the value to like 5 second.
I want the cursors also to move to the updated value.
I have tried updating like
[code]
but its not working like this

![image](https://user-images.githubusercontent.com/12858657/134910634-27e28779-927b-47a9-90c6-7c116ad92faa.png)

[2021-09-27 13:00] Sharcoux commented on #5
Indeed. The value is not updated in range slider when providing a new value... :/

Gonna fix it

[2021-09-27 13:06] ahmad6242 commented on #5
I appreciate it. Many more thanks. Just tag me when you complete these.

[2021-09-27 13:08] Sharcoux commented on #5
@ahmad6242 Done. You can update to the 5.5.1. Thanks for the feedback :+1:

[2021-09-27 13:20] ahmad6242 commented on #5
Perfect , values are getting updated in Range<Prop> and Step is also working.
Have you increased the touchable area for the thumbs? Its still difficult to move it.

[2021-09-27 13:24] Sharcoux commented on #5
On what device are you testing? Web, Android or iOS? Anyway, check the height of the slider. I bet that the height is very narrow and that's why it doesn't respond. Try adding a height to the slider's style.

[2021-09-27 13:31] ahmad6242 commented on #5
You bet you Win. Perfect!. Height works.
Thank you so much.

[2021-11-01 02:57] swgamerx opened #22 "Slider track does not render when vertical set to true"
After setting `vertical` to true, only the thumb renders which stays stationary and will not slide.

[2021-11-01 03:11] Sharcoux commented on #22
This seems weird. As you can see in the example, it is working as expected. The code is in the index.tsx file. Can you provide the slider configuration that you are using?

[2021-11-01 03:14] swgamerx commented on #22
Just using a basic Slider setup with a value of 1 and vertical to true.

![image](https://user-images.githubusercontent.com/6331758/139616853-f4dce359-164c-4f69-866f-e7fcbdd18e06.png)

[2021-11-01 03:20] swgamerx commented on #22
what does the code look like for the example in the gif?

[2021-11-01 03:25] Sharcoux commented on #22
[Here](https://snack.expo.dev/AF9len8WS) you can find a working demo of your use case. I tested on web, Android and iOS. Working as expected.

[Here](https://github.com/Sharcoux/slider/blob/master/index.tsx) You can find the code that generated the gif.

[2021-11-01 03:28] Sharcoux commented on #22
I Think that your issue comes from your style. Your slider might automatically spread horizontally, but not vertically, giving it a 0-height size

[2021-11-01 03:33] swgamerx commented on #22
interesting, the first snippet didn't work, but the second did, something about the styles.

![image](https://user-images.githubusercontent.com/6331758/139618184-52e8914c-59f8-484c-82c2-8440c733d2b7.png)

[2021-11-01 03:37] Sharcoux commented on #22
As I said, your style probably doesn't apply any height to your slider. You need to work on your layout strategy. Remember that React Native uses flex layout.

[2021-11-05 13:30] igorwessel opened #23 "Slider not have smooth animation when inside scrollview"
Thanks for this amazing library.

When the slider is inside a scroll view and happens to have items to enable scrolling, The animation is very slow, I believe the entire screen is being re-rendered every time we change the value on the slide.
The heavier this page is, the animation becomes slower, in this example I didn't have many heavy items to re-render again.

https://user-images.githubusercon

[2021-11-12 11:36] 0rsa commented on #23
I have also an animation performance issue and my Slider isn't in a scrollview

[2021-11-12 11:38] 0rsa opened #24 "onSlidingComplete triggers at first render"
Hi,
I switched from community slider to this.
onSlidingComplete behaviour is different and triggers when the slider is rendered.
Is it an expected behaviour? Is there a way to disable it?
Thank you

[2021-11-12 16:45] #22 closed

[2021-11-12 17:58] Sharcoux commented on #23
@0rsa @igorwessel Tell me if you still have an issue with the version 5.6.0

Thanks for the feedback.

[2021-11-12 17:59] Sharcoux commented on #24
Definitely not an expected behaviour

Can you tell me if you still have the issue with version 5.6.0 I just released?

[2021-11-13 04:02] 0rsa commented on #24
This is OK with 5.6.0!
Thank you

[2021-11-13 04:02] #24 closed

[2021-12-15 08:16] rachellauyui opened #26 "Vertical Slider jump to big number in iOS"
I am very new to React Native. When I use the slider with vertical+{true} and inverted={true}, it works fine in Android. But in iOS, a slight touch will make the thumb jump a long way. I am using the slider to zoom a camera, and the camera will zoom to maximum with a slight touch. I wonder if other people face the same problem? Thanks!

[2021-12-15 08:58] #23 closed

[2021-12-15 09:00] Sharcoux commented on #26
Please publish here the configuration you are using for the slider, including the styles

[2021-12-15 09:04] rachellauyui commented on #26
Thank you VERY muc for your quick reply. Here it is. I use a PNG file as thumb image. It is my first time leaving message in github, apologies if I did not provide all the information.

<View style={{
  flex:1,
  backgroundColor:'transparent',
  }}>
<Slider
        style={{
          width:400,
          height:100,
          alignItems:"flex-end",
          paddingEnd: 50,
          backgroundCol

[2021-12-15 09:12] rachellauyui commented on #26
BTW, I use another horizontal slider too, and it works perfectly both in Android and iOS:

<View style={{backgroundColor:"transparent",flex:1, alignItems:"flex-end", width:width, paddingRight:30, paddingLeft:50}}>
<Slider
        style={{
          width:'100%',
          height:150,
          backgroundColor:"transparent",
          justifyContent: "flex-start",
          transform:[{translateY:0

[2021-12-15 09:13] Sharcoux commented on #26
Why do you specify `alignItems: 'flex-end'`? It might be the cause of the issue.

You should use `useCallback` to define the function `onValueChange`. Also, you can write `thumbTintColor='grey'` instead of `{'grey'}`. And `vertical` instead of `vertical={true}`.

Finally, if you are using a static style as you do here, you shall use `Stylesheets`.

[2021-12-16 08:34] rachellauyui commented on #26
After further testing, the slider works fine in iOS, even with flexEnd. I am using slider to control zoom of camera. iPhone can zoom A LOT CLOSER than Android, thus slightly move the thumb will zoom in a lot.

My apologies for the false alarm!

[2021-12-16 11:01] #26 closed

[2022-01-05 11:19] Bamorem opened #27 "scroll issue"
When you use RangeSlider and Slider inside a ScrollView and you want to scroll horizontally, but you slide a bit vertically the slider loose the focus and only the ScrollView is sliding.

[2022-01-05 12:27] Sharcoux commented on #27
You should probably use a padding around the slider to increase the responder area.

If that doesn't solve the issue, can you create a snack to illustrate the issue? I'll fix it if I can.

[2022-01-06 18:15] hiwyn opened #28 "RangeSlider is bugged on start?"
Is `RangeSlider` is bugged on start or i'm doing something wrong?
I did this:
[code]
but it starts:
https://i.imgur.com/58ggYEA.png
its like 50 is the limit, but its not, its 100

and when i move the right ball it just fix, like u can see on this image:
https://i.imgur.com/b23D6Li.png

but if i move the left ball it but the right value:
https://i.imgur.com/R1GCSQk.png

is this a bug or i'm doing s

[2022-01-06 18:56] Sharcoux commented on #28
You set maxAge to 50:

` const [maxAge, setMaxAge] = useState(50);`

You write "maxAge: 50"

` maxAge: {maxAge}`

You set the current max value to 100:

` range={[18, 100]}`

So, yeah, the slider starts with 100 as starting max value, and the fact that you display "50" above doesn't change anything.

[2022-01-06 19:03] hiwyn commented on #28
but the progress bar is showing 50 like 100
look: its totally filled: https://i.imgur.com/58ggYEA.png
(idk if there is a bug or if i'm doing some shit)

it shouldn't start with the right side of the bar gray?
like this, after i push the right ball to the left?
blob:https://imgur.com/2b43fed0-81cf-4763-b443-f302c7565222

[2022-01-06 19:07] Sharcoux commented on #28
Read better. You are setting the max **value** to **100**. So the slider behaves like you told him to : representing the range [18, 100]. Why would its max value be 50 if you never set it to 50?

[2022-01-06 19:11] hiwyn commented on #28
`maxAge` was a bad variable name, i just did this bar to test your lib
maxAge in my case means the maxAge selected in the rangeSliderBar
its not the maxValue for the bar, max value to the base should be 100, but the user start with 50 selected

my problem is with start value
like in your component `Slider` i could just set a value={50}
in this `RangeSlider` i can't, or can i?

[2022-01-06 19:29] hiwyn commented on #28
test this code:
[code]
it simple does not work
right ball just cant move

i just wanted to the slider looks like this: https://i.imgur.com/ObOVBeT.png

[2022-01-06 19:36] hiwyn commented on #28
i find what i was doing wrong
i shouldn't not using `onValueChange` to set the states, your lib is working, i just have to set `range={[minAge, maxAge]}`
and set the values in `onSlidingComplete` instead of `onValueChange`, changing on onValueChange that was bugging everything

[2022-01-06 19:39] #28 closed

[2022-01-06 20:07] Sharcoux commented on #28
You can do whatever you want within onValueChange or onSlidingComplete, but if you do `range={[18, 100]}`, it sets the value to [18, 100]. If you do ` range={[minAge, maxAge]}` , it sets the range to [minAge, maxAge], and is minAge=18 and maxAge=50, then ` range={[minAge, maxAge]}` sets the range to [18, 50].

If this is your code:

![image](https://user-images.githubusercontent.com/797545/1484446

[2022-01-06 23:08] hiwyn commented on #28
You are right that was the first main error, but when i change range to states and drag the bar, the bar broke starts to grow and shrink in a infinite loop, so i did think that i made something wrong
when i change to onSlidingComplete it also fix

[2022-01-06 23:10] hiwyn commented on #28
Btw nice lib, better then expo suggest! Thank you for this ;)

[2022-01-09 11:25] leaky commented on #27
I can confirm this is an issue as I'm experiencing a similar thing. I have a slider embedded inside of a [BottomSheet](https://github.com/gorhom/react-native-bottom-sheet) and when panning gestures are enabled on the BottomSheet the slider is incredibly sticky, moving only a max of 3/4 steps per slide gesture. When I disable the panning gestures on the BottomSheet the slider's performance is as ex

[2022-01-09 14:04] Sharcoux commented on #27
@leaky you problem seems related to [this bug](https://github.com/Sharcoux/slider/issues/15)

[2022-01-28 14:28] jb-5murf opened #29 "Controlled value"
Hi. Is it possible to change the slider value programmatically? Or do you plan to implement the value prop as controlled value? Thanks

[2022-01-28 14:58] Sharcoux commented on #29
I don't understand the question. If you change the `value` prop, it will change the slider representation, doesn't it? If you have an issue please provide a snack or a codesandbox to demonstrate the issue.

[2022-01-28 14:59] Sharcoux commented on #27
@Bamorem , due to inactivity, I will close this bug. Thanks for your feedback.

[2022-01-28 14:59] #27 closed

[2022-01-28 15:43] jb-5murf commented on #29
https://snack.expo.dev/@jb5/slider Here is a simple snack. Clicking the buttons changes the value, but the slider doesn`t move.

[2022-01-28 19:15] Sharcoux commented on #29
Fixed in V. 5.6.2

Tell me if it's ok for you.

Thanks a lot for your feedback.

[2022-01-28 21:19] jb-5murf commented on #29
Works great! Thank you very much for superfast update!

[2022-01-28 22:06] Sharcoux commented on #29
You're welcome. I don't know how I missed that in the last release.

[2022-01-28 22:06] #29 closed

[2022-02-10 09:25] maartenvandillen commented on #18
I have the same problem. Was this already fixed? See video for behavior.

https://user-images.githubusercontent.com/6582935/153377252-5d859e42-b166-4eb5-b3d6-da28b5147d77.mp4

[2022-02-10 10:24] Sharcoux commented on #18
You can see the progression of this bug in [this issue](https://github.com/facebook/react-native/issues/31843). The issue lies within react-native project. As I'm no Android developer, there isn't much more I can do...

Read my previous messages for more details. If you know Android development better than I do, you could patch React-Native project.

The touch event coordinates seems to be ruled [

[2022-02-10 10:46] maartenvandillen commented on #18
Thanks for your response. I will try adding a padding around it.

I switched from this [https://github.com/ptomasroos/react-native-multi-slider](url) package because its vertical orientation did not work at all. However, it does not suffer from this problem. I wonder how they manage that.

Although I am also a native Android developer I don't feel comfortable enough to make changes to React Native

[2022-02-10 11:32] Sharcoux commented on #18
Interesting. They actually rely on the page coordinates instead of the component based referential (which is the part that is broken in Android). That would be quite troublesome to rewrite the code to handle this here. I'd rather wait for Facebook to fix their lib.

[2022-02-10 15:41] maartenvandillen commented on #18
Hmm, the button next to my slider is still causing a jump of the value, despite the padding of the slider underneath it.
Hiding the button during sliding solves this, but that is not acceptable.
Is there another work-around? Maybe using setResponder or setResponderCapture?

[2022-02-21 13:37] maartenvandillen commented on #18
never mind, I switched to the react-native-elements slider component.

[2022-02-21 14:18] Sharcoux commented on #18
Sorry mate. I'm glad you found a solution. I wish someone at Facebook can solve this issue at some point...

[2022-03-11 06:47] pavankvch opened #32 "Show values on top of Range Thumbs, property missing"
Please provide property for values to show on top of range thumbs

[2022-03-14 21:26] Sharcoux commented on #32
The issue with this is that everyone might want a different look for this feature. My suggestion would be to represent what you want with an svg or a component, and then add this slider above it.

[2022-04-13 16:37] MaximeCrp opened #35 "[Help needed] Long tap returns wrong value in onSlidingComplete"
Hi,
I'm using this slider as an interactive audio track progress bar, which works great in general.
I'm having a specific issue, I do not know what I'm doing wrong with the use of this component.
When the user briefly taps the slider, onSlidingComplete will return the correct selected value.
Yet, when the user taps for a longer time (could be just a regular, not so quick tap), the returned value i

[2022-04-13 16:47] Sharcoux commented on #35
Do you have this on Web, Android, iOS? All of them?

[2022-04-13 16:47] #32 closed

[2022-04-13 17:03] Sharcoux commented on #35
I could not reproduce on web...

[2022-04-13 17:12] Sharcoux commented on #35
Seems to work fine [here](https://snack.expo.dev/@sharcoux/on-sliding-comlete) on all devices. The problem comes probably from your side.

[2022-04-14 07:45] MaximeCrp commented on #35
Thank you for investigating. Thanks to you I realized what I was doing "wrong".
I was not changing the slider value with `onSlidingStart`, and what this component is doing is actually displaying the `value` prop over the value of the user press (which could be perfectly good in all situations, just not what I was expecting for my use).
I fixed this by changing the value I feed to the slider depend

[2022-04-14 07:45] #35 closed

[2022-04-25 01:23] rachellauyui opened #39 "Failed prop type: Invalid props.style key `userSelect` supplied to `Image` when using custom Thumb Image"
Hi! When I supply a custom Thumb Image to the slider, the warning "Failed prop type: Invalid props.style key userSelect supplied to Image" shows up.

My code of the slider:
                    <Slider
                      style={{
                        width: "90%",
                        height: 20,
                        backgroundColor: "transparent",
                        justifyContent

[2022-04-26 20:51] Sharcoux commented on #39
Oh, ok, I didn't use yet the thumbImage prop. So, notice that it's just a warning. It should not have any impact on your code. I'm gonna fix the warning. If you have issues with your usage of thumbImage, don't hesitate to report here, as I didn't test it yet.

[2022-04-26 21:07] #39 closed

[2022-04-26 21:20] Sharcoux commented on #39
Fixed in 6.0.2

Open a new issue for problems with the thumbImage

[2022-05-02 12:10] rachellauyui commented on #39
I used sharcoux 5.6.1 before, but the thumb freezed, cannot moved at all. And when I upgraded to 6.0.2, it crashed with below message:
Invariant Violation: "cursor" is not a valid style property.
StyleSheet view: {
  "flexGrow": 1,
  "flexShrink": 1,
  "flexBasis": "auto",
  "alignItems": "center",
  "cursor": "pointer",
  "userSelect": "none"
}

And also below error message that I assume is a red

[2022-05-02 17:44] matthewstyers opened #41 "RN StyleSheet.validate throws in native environments (`userSelect` and `cursor` properties)"
In iOS/Android environments, React Native's StyleSheet.validate throws the error reported in #39, but for both the `cursor` and `userSelect` properties. Additionally, the error occurs during the initial import, so the package can't be referenced in any import statement.

React Native: 0.64
Platform: iOS/Android

(PR incoming)

[2022-05-02 22:08] #41 closed

[2022-05-02 22:19] Sharcoux commented on #39
This was fixed in version 6.0.3. Thanks a lot for your comments and help. Don't hesitate if you notice other issues.

[2022-05-06 04:53] rachellauyui commented on #39
Hi, have updated to 6.0.3. iOS works fine. But Android custom thumb is sticky, non-responsive. Need to push and poke many times and maybe the thumb jumps once.  I use both a horizontal and a vertical slider. The funny thing is that only horizontal slider in Android has this problem. Thanks!

[2022-05-06 20:16] Sharcoux commented on #39
Are there other gesture handler in your code around your slider? Otherwise, try to add a padding around the slider. It should work. I'll try to add a snack demo later.

[2022-05-13 11:52] rachellauyui commented on #39
Yes, there is another pressable nearby that interfered with the thumb. Once the presable is moved away, it works perfectly!! Thanks a lot!

[2022-06-08 12:02] sadia-onyxtec commented on #41
I am still facing this issue after updating to ^5.6.5!

[2022-06-08 14:34] Sharcoux commented on #41
Yep. As mentioned in the PR, you need to upgrade to v 6.0.3 :wink:

[2022-09-09 13:10] Sharcoux commented on #14
Unless other people needing this, I won't do it. If someone wants to open a PR I'll merge it.

[2022-11-23 14:20] shashank1010 opened #50 "Allow selecting the same min and max value for the RangeSlider on drag."
Firstly, I've looked at the old bugs, and I really appreciate your fixes that usually come within minutes. Kudos to you

I think, In a range slider, sometimes the minValue and maxValue can be the same. However, at present, I don't think this range slider supports dragging the handles to the same min and max values.

I've created a demo:
https://codesandbox.io/s/sharcoux-slider-bug-demo-28w5nf?file

[2022-11-23 14:32] shashank1010 opened #51 "Tooltip selected value above the thumb."
Is there a way to display the current values above the thumbs and have custom thumbs?

Reference:
https://m3.material.io/components/sliders/overview#65a5e5f9-2aa3-44b5-ad8e-73cf2694975e

[2022-11-23 15:05] Sharcoux commented on #50
Yep. There is definitely something wrong here. I'll have a look at it. I'm sick right now, but if you don't have news by monday, feel free to ask for news.

[2022-11-24 04:10] Sharcoux commented on #50
Ok, the crossingAllowed prop was actually completely broken.  It's fixed in version `@Sharcoux/slider: 6.1.0`. The `crossingAllowed` prop will automatically consider that the thumbs can join as the feeling would be weird if you can cross without joining.

Feedback appreciated.

[2022-11-24 04:11] Sharcoux commented on #51
I added a CustomThumb prop on version 6.1.0. Tell me if it suits your needs.

[2022-11-24 04:12] Sharcoux commented on #14
crossingAllowed prop, fixed in version 6.1.0, is the best that we will provide. I'll close.

[2022-11-24 04:12] #14 closed

[2022-11-24 04:14] Sharcoux commented on #17
For further references, version 6.1.0 add CustomThumb support. It should be possible to achieve what you want now.

[2022-11-25 08:14] shashank1010 commented on #50
It works!!

I have only tested this in the browser, I'm going to run some tests in the mobile and update really soon!

[2022-11-25 10:08] shashank1010 commented on #51
It works, however, to make it to work, I had to duplicate the thumb component you have written.
The problem was, I thought it would work out of the box.
I had to add `pointer-events="none"` to my view to make it work.

Adding a note about this will save questions. Alternately, you could simply render it in a View with pointer-events="none" :)

Great going.

Thanks for your effort!

[2022-11-25 19:36] Sharcoux commented on #51
Duplicate the thumb component? What do you mean?

About the "pointer-events" thing, it's fixed in the version 6.1.1. Thanks for reporting.